//! **************************************************************************
// Written by: Map P.20131013 on Sat Dec 21 12:15:11 2019
//! **************************************************************************

SCHEMATIC START;
COMP "dip_switch2<7>" LOCATE = SITE "A9" LEVEL 1;
COMP "user_key<5>" LOCATE = SITE "J1" LEVEL 1;
COMP "digital_tube_sel0<3>" LOCATE = SITE "G14" LEVEL 1;
COMP "led_light<4>" LOCATE = SITE "M1" LEVEL 1;
COMP "dip_switch4<0>" LOCATE = SITE "G1" LEVEL 1;
COMP "dip_switch3<4>" LOCATE = SITE "E14" LEVEL 1;
COMP "user_key<6>" LOCATE = SITE "J7" LEVEL 1;
COMP "digital_tube_sel1<0>" LOCATE = SITE "G17" LEVEL 1;
COMP "led_light<5>" LOCATE = SITE "M3" LEVEL 1;
COMP "dip_switch4<1>" LOCATE = SITE "G2" LEVEL 1;
COMP "dip_switch3<5>" LOCATE = SITE "A14" LEVEL 1;
COMP "user_key<7>" LOCATE = SITE "D3" LEVEL 1;
COMP "digital_tube_sel1<1>" LOCATE = SITE "C19" LEVEL 1;
COMP "led_light<6>" LOCATE = SITE "L8" LEVEL 1;
COMP "dip_switch4<2>" LOCATE = SITE "G4" LEVEL 1;
COMP "dip_switch3<6>" LOCATE = SITE "C14" LEVEL 1;
COMP "digital_tube_sel1<2>" LOCATE = SITE "F18" LEVEL 1;
COMP "led_light<7>" LOCATE = SITE "K7" LEVEL 1;
COMP "dip_switch4<3>" LOCATE = SITE "E2" LEVEL 1;
COMP "dip_switch3<7>" LOCATE = SITE "A16" LEVEL 1;
COMP "digital_tube_sel1<3>" LOCATE = SITE "C20" LEVEL 1;
COMP "led_light<8>" LOCATE = SITE "K6" LEVEL 1;
COMP "dip_switch5<0>" LOCATE = SITE "E5" LEVEL 1;
COMP "dip_switch4<4>" LOCATE = SITE "H6" LEVEL 1;
COMP "led_light<9>" LOCATE = SITE "K3" LEVEL 1;
COMP "dip_switch5<1>" LOCATE = SITE "A2" LEVEL 1;
COMP "dip_switch4<5>" LOCATE = SITE "F5" LEVEL 1;
COMP "dip_switch5<2>" LOCATE = SITE "B4" LEVEL 1;
COMP "dip_switch4<6>" LOCATE = SITE "H8" LEVEL 1;
COMP "dip_switch5<3>" LOCATE = SITE "A4" LEVEL 1;
COMP "dip_switch4<7>" LOCATE = SITE "C3" LEVEL 1;
COMP "dip_switch6<0>" LOCATE = SITE "A6" LEVEL 1;
COMP "dip_switch5<4>" LOCATE = SITE "C4" LEVEL 1;
COMP "dip_switch6<1>" LOCATE = SITE "A5" LEVEL 1;
COMP "dip_switch5<5>" LOCATE = SITE "D5" LEVEL 1;
COMP "dip_switch6<2>" LOCATE = SITE "A7" LEVEL 1;
COMP "dip_switch5<6>" LOCATE = SITE "C5" LEVEL 1;
COMP "dip_switch6<3>" LOCATE = SITE "B8" LEVEL 1;
COMP "dip_switch5<7>" LOCATE = SITE "D6" LEVEL 1;
COMP "dip_switch7<0>" LOCATE = SITE "F9" LEVEL 1;
COMP "dip_switch6<4>" LOCATE = SITE "A8" LEVEL 1;
COMP "uart_rxd" LOCATE = SITE "AF21" LEVEL 1;
COMP "dip_switch7<1>" LOCATE = SITE "B10" LEVEL 1;
COMP "dip_switch6<5>" LOCATE = SITE "C6" LEVEL 1;
COMP "dip_switch7<2>" LOCATE = SITE "F10" LEVEL 1;
COMP "dip_switch6<6>" LOCATE = SITE "G7" LEVEL 1;
COMP "dip_switch7<3>" LOCATE = SITE "C10" LEVEL 1;
COMP "dip_switch6<7>" LOCATE = SITE "J10" LEVEL 1;
COMP "digital_tube_sel2" LOCATE = SITE "J17" LEVEL 1;
COMP "digital_tube0<0>" LOCATE = SITE "A18" LEVEL 1;
COMP "dip_switch7<4>" LOCATE = SITE "F11" LEVEL 1;
COMP "digital_tube0<1>" LOCATE = SITE "D13" LEVEL 1;
COMP "uart_txd" LOCATE = SITE "AE21" LEVEL 1;
COMP "dip_switch7<5>" LOCATE = SITE "C12" LEVEL 1;
COMP "digital_tube0<2>" LOCATE = SITE "D18" LEVEL 1;
COMP "dip_switch7<6>" LOCATE = SITE "A12" LEVEL 1;
COMP "digital_tube0<3>" LOCATE = SITE "C18" LEVEL 1;
COMP "dip_switch7<7>" LOCATE = SITE "A13" LEVEL 1;
COMP "digital_tube0<4>" LOCATE = SITE "F16" LEVEL 1;
COMP "digital_tube1<0>" LOCATE = SITE "C17" LEVEL 1;
COMP "digital_tube0<5>" LOCATE = SITE "B12" LEVEL 1;
COMP "digital_tube1<1>" LOCATE = SITE "C21" LEVEL 1;
COMP "digital_tube0<6>" LOCATE = SITE "J14" LEVEL 1;
COMP "digital_tube1<2>" LOCATE = SITE "E18" LEVEL 1;
COMP "digital_tube0<7>" LOCATE = SITE "E17" LEVEL 1;
COMP "digital_tube1<3>" LOCATE = SITE "F17" LEVEL 1;
COMP "digital_tube1<4>" LOCATE = SITE "A19" LEVEL 1;
COMP "digital_tube2<0>" LOCATE = SITE "A22" LEVEL 1;
COMP "digital_tube1<5>" LOCATE = SITE "E20" LEVEL 1;
COMP "digital_tube2<1>" LOCATE = SITE "A21" LEVEL 1;
COMP "sys_rstn" LOCATE = SITE "AC12" LEVEL 1;
COMP "clk_in" LOCATE = SITE "AF13" LEVEL 1;
PIN clk_in_pin<0> = BEL "clk_in" PINNAME PAD;
PIN "clk_in_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "digital_tube1<6>" LOCATE = SITE "E19" LEVEL 1;
COMP "digital_tube2<2>" LOCATE = SITE "B22" LEVEL 1;
COMP "digital_tube1<7>" LOCATE = SITE "A20" LEVEL 1;
COMP "digital_tube2<3>" LOCATE = SITE "H15" LEVEL 1;
COMP "digital_tube2<4>" LOCATE = SITE "D20" LEVEL 1;
COMP "digital_tube2<5>" LOCATE = SITE "D21" LEVEL 1;
COMP "digital_tube2<6>" LOCATE = SITE "B20" LEVEL 1;
COMP "digital_tube2<7>" LOCATE = SITE "D19" LEVEL 1;
COMP "led_light<10>" LOCATE = SITE "J4" LEVEL 1;
COMP "led_light<11>" LOCATE = SITE "J3" LEVEL 1;
COMP "led_light<12>" LOCATE = SITE "J5" LEVEL 1;
COMP "led_light<20>" LOCATE = SITE "D11" LEVEL 1;
COMP "led_light<13>" LOCATE = SITE "J2" LEVEL 1;
COMP "led_light<21>" LOCATE = SITE "E10" LEVEL 1;
COMP "led_light<14>" LOCATE = SITE "H5" LEVEL 1;
COMP "led_light<22>" LOCATE = SITE "D14" LEVEL 1;
COMP "led_light<30>" LOCATE = SITE "C16" LEVEL 1;
COMP "dip_switch0<0>" LOCATE = SITE "H3" LEVEL 1;
COMP "led_light<15>" LOCATE = SITE "H1" LEVEL 1;
COMP "led_light<23>" LOCATE = SITE "A15" LEVEL 1;
COMP "led_light<31>" LOCATE = SITE "B18" LEVEL 1;
COMP "dip_switch0<1>" LOCATE = SITE "H7" LEVEL 1;
COMP "led_light<16>" LOCATE = SITE "E9" LEVEL 1;
COMP "led_light<24>" LOCATE = SITE "G16" LEVEL 1;
COMP "dip_switch0<2>" LOCATE = SITE "G3" LEVEL 1;
COMP "led_light<17>" LOCATE = SITE "D10" LEVEL 1;
COMP "led_light<25>" LOCATE = SITE "B14" LEVEL 1;
COMP "dip_switch0<3>" LOCATE = SITE "F1" LEVEL 1;
COMP "led_light<18>" LOCATE = SITE "A11" LEVEL 1;
COMP "led_light<26>" LOCATE = SITE "F15" LEVEL 1;
COMP "dip_switch1<0>" LOCATE = SITE "C1" LEVEL 1;
COMP "dip_switch0<4>" LOCATE = SITE "F3" LEVEL 1;
COMP "led_light<19>" LOCATE = SITE "A10" LEVEL 1;
COMP "led_light<27>" LOCATE = SITE "D15" LEVEL 1;
COMP "dip_switch1<1>" LOCATE = SITE "B1" LEVEL 1;
COMP "dip_switch0<5>" LOCATE = SITE "E1" LEVEL 1;
COMP "led_light<28>" LOCATE = SITE "B16" LEVEL 1;
COMP "dip_switch1<2>" LOCATE = SITE "C2" LEVEL 1;
COMP "dip_switch0<6>" LOCATE = SITE "E3" LEVEL 1;
COMP "led_light<29>" LOCATE = SITE "D16" LEVEL 1;
COMP "dip_switch1<3>" LOCATE = SITE "B2" LEVEL 1;
COMP "dip_switch0<7>" LOCATE = SITE "D1" LEVEL 1;
COMP "dip_switch2<0>" LOCATE = SITE "B6" LEVEL 1;
COMP "dip_switch1<4>" LOCATE = SITE "E4" LEVEL 1;
COMP "dip_switch2<1>" LOCATE = SITE "D7" LEVEL 1;
COMP "dip_switch1<5>" LOCATE = SITE "G5" LEVEL 1;
COMP "dip_switch2<2>" LOCATE = SITE "C7" LEVEL 1;
COMP "dip_switch1<6>" LOCATE = SITE "E6" LEVEL 1;
COMP "user_key<0>" LOCATE = SITE "K5" LEVEL 1;
COMP "dip_switch2<3>" LOCATE = SITE "D8" LEVEL 1;
COMP "dip_switch1<7>" LOCATE = SITE "G6" LEVEL 1;
COMP "user_key<1>" LOCATE = SITE "K8" LEVEL 1;
COMP "led_light<0>" LOCATE = SITE "L9" LEVEL 1;
COMP "dip_switch3<0>" LOCATE = SITE "C11" LEVEL 1;
COMP "dip_switch2<4>" LOCATE = SITE "C8" LEVEL 1;
COMP "user_key<2>" LOCATE = SITE "L1" LEVEL 1;
COMP "digital_tube_sel0<0>" LOCATE = SITE "E16" LEVEL 1;
COMP "led_light<1>" LOCATE = SITE "K9" LEVEL 1;
COMP "dip_switch3<1>" LOCATE = SITE "D12" LEVEL 1;
COMP "dip_switch2<5>" LOCATE = SITE "G8" LEVEL 1;
COMP "user_key<3>" LOCATE = SITE "L2" LEVEL 1;
COMP "digital_tube_sel0<1>" LOCATE = SITE "A17" LEVEL 1;
COMP "led_light<2>" LOCATE = SITE "N1" LEVEL 1;
COMP "dip_switch3<2>" LOCATE = SITE "C13" LEVEL 1;
COMP "dip_switch2<6>" LOCATE = SITE "C9" LEVEL 1;
COMP "user_key<4>" LOCATE = SITE "K1" LEVEL 1;
COMP "digital_tube_sel0<2>" LOCATE = SITE "C15" LEVEL 1;
COMP "led_light<3>" LOCATE = SITE "N2" LEVEL 1;
COMP "dip_switch3<3>" LOCATE = SITE "F13" LEVEL 1;
PIN CLOCK/dcm_sp_inst_pins<1> = BEL "CLOCK/dcm_sp_inst" PINNAME CLKFB;
TIMEGRP CLOCK_clk2x = BEL "CLOCK/clkout1_buf" BEL
        "Bridge/Digitaltube/counter_9" BEL "Bridge/Digitaltube/counter_8" BEL
        "Bridge/Digitaltube/counter_7" BEL "Bridge/Digitaltube/counter_6" BEL
        "Bridge/Digitaltube/counter_5" BEL "Bridge/Digitaltube/counter_4" BEL
        "Bridge/Digitaltube/counter_3" BEL "Bridge/Digitaltube/counter_2" BEL
        "Bridge/Digitaltube/counter_1" BEL "Bridge/Digitaltube/counter_0" PIN
        "CLOCK/dcm_sp_inst_pins<1>" BEL "CLOCK/clkf_buf";
PIN CLOCK/dcm_sp_inst_pins<2> = BEL "CLOCK/dcm_sp_inst" PINNAME CLKIN;
TIMEGRP clk_in = PIN "CLOCK/dcm_sp_inst_pins<2>";
TS_clk_in = PERIOD TIMEGRP "clk_in" 40 ns HIGH 50%;
TS_CLOCK_clk2x = PERIOD TIMEGRP "CLOCK_clk2x" TS_clk_in / 2 HIGH 50%;
SCHEMATIC END;

